div.stDownloadButton > button:first-child {
    background-color: #005f86;
    color:#FFFFFF;
}

span[data-baseweb="tag"] {
    background-color: #bf5700 !important;
    color:#FFFFFF; padding: 10px;
}

